[Unit]
Description=Spawn XWayland on login
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=
StandardOutput=journal
StandardError=journal
SyslogIdentifier=spawn-xwayland

[Install]
WantedBy=graphical-session.target
